<section>
    <!-- foodbox  -->
    <div class="container mt-4 mb-4">
        <h1 class="text-center">Customers <span class="highlight">Favourites Food</span></h1>
        <div class="row">
            <div class="col-lg-4 mt-3 d-flex" *ngFor="let product of prod.products">
                <div class="foodbox card w-100">
                    <div class="card-body">
                        <img src="{{product.thumbnail}}" class="img-fluid mb-4"/>
                        <p><span class="badge bg-success">{{product.title}}</span></p>
                        <h1>{{product.description}}</h1>
                        <p>{{product.price | currency:'INR'}}</p>
                        <a class="btn btn-primary" [routerLink]="['/menupage',product.id]" >
                            <i class="bi bi-cart"></i> Buy
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
</section>
